# .github/workflows/build-template.yml
name: Reusable Build Workflow

on:
  workflow_call:
    inputs:
      spec_path:
        description: "Path to buildspec yaml"
        required: false
        default: "buildspec.yaml"
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Setup Docker
        uses: docker/setup-docker-action@v1

      - name: Run build with container mode
        run: |
          ./scripts/build-runner.sh "${{ inputs.spec_path }}"
